include LICENSE
include README.md

recursive-include templates *.j2
recursive-include core *.py
recursive-include cli *.py
recursive-include models *.py
recursive-include snow_globe *.py

recursive-include core *.sql
recursive-include core *.yml
recursive-include core *.json
